@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: black;
}
nav{
    position: fixed;
    z-index: 9999;
    width: 100%;
    background-color: #DC0A2D;
}
nav ul{
    display: flex;
    align-items: center;
    list-style: none;
}
nav ul li{
    padding: .6rem;
}
nav img{
    width: 3rem;
}
nav h1{
    text-align: center;
    font-size: 1.4rem;
    color: white;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
}
header img{
    width: 100%;
    height: 10%;
    margin-top: 4rem;
}
main{
    margin: 0 10rem;
}
section#cards{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 4rem 0 5rem 0;
}
section#cards h2{
    width: 100%;
    text-align: center;
}
section#cards div.card{
    width: 20rem;
    box-shadow: 5px 5px 5px 5px #00000015;
    margin-top: 2rem;
    padding: 1rem;
}
section#cards div.card img{
    width: 100%;
}
section#cards div.card h2{
    margin-bottom: 1rem;
    text-align: center;
}
section#cards div.card .descricao{
    text-align: justify;
}
section#cards div.card .tipo{
    padding: .3rem;
    width: 5rem;
    margin-top: 1rem;
    color: white;
    background-color: rgba(255, 0, 0, 0.863);
    border-radius: 20%;
}
section#cards div.card div#configuracoes{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
section#cards div.card a#editar{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 2rem;
    width: 20%;
    padding: .6rem;
    font-size: 1rem;
    background-color: white;
    border: 1px solid rgba(46, 46, 255, 0.699);
    color: rgba(46, 46, 255, 0.699);
    cursor: pointer;
    transition: all .2s ease-in-out;
    text-decoration: none;
}
section#cards div.card a#apagar{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 2rem;
    width: 20%;
    padding: .6rem;
    font-size: 1rem;
    background-color: white;
    border: 1px solid red;
    color: red;
    cursor: pointer;
    transition: all .2s ease-in-out;
    text-decoration: none;
}
section#cards div.card a#editar:hover{
    background-color: rgba(46, 46, 255, 0.699);
    color: white;
}
section#cards div.card a#apagar:hover{
    background-color: red;
    color: white;
}
section#cadastro{
    display: flex;
    justify-content: center;
    padding-bottom: 5rem;
    margin-top: 4rem;
}
section#cadastro img{
    width: 50%;
    height: 40%;
    margin-top: 6rem;
}
section#cadastro h2{
    width: 100%;
    text-align: center;
    margin-top: 2rem;
    padding-bottom: 3rem;
}
section#cadastro form{
    width: 100%;
}
section#cadastro form input{
    width: 100%;
    padding: 0.7rem;
    font-size: 1rem;
    outline: none;
    border: 1px solid rgb(177, 177, 177);
    margin-bottom: 1rem;
}
section#cadstro form label{
    margin: 1rem 0;
}
section#cadastro form button{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 20%;
    padding: .6rem;
    font-size: 1rem;
    background-color: white;
    border: 1px solid red;
    color: red;
    cursor: pointer;
    transition: all .2s ease-in-out;
}
section#cadastro form button:hover{
    background-color: red;
    color: white;
}
footer{
    background-color: #DC0A2D;
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
footer p{
    width: 100%;
    color: white;
    text-align: center;
    font-size: 1.2rem;
    padding: .3rem;
}
footer p a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}